<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- added font awsome -->    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">    
    <title>InstaBudget</title>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/dashboard">InstaBudget</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
</nav>
<div class="jumbotron">
  <h3 class="header">My Dashboard</h3>
  <hr class="my-4">

<div class="container">
  <div class="row">
    <div class="col-sm justify-content-center dashboard-buttons">
      <a class="btn btn-primary btn-lg" href="/quickexpense" role="button">Quick Expense</a>
    </div>
    <div class="col-sm justify-content-center dashboard-buttons">
    
       <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#setBudgetModal">
                Set Budget
            </button>
    </div>
    <div class="col-sm justify-content-center dashboard-buttons">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#logExpenseModal">
              Log Expense
            </button>
    </div>
    <div class="col-sm justify-content-center dashboard-buttons">
       <a class="btn btn-primary btn-lg" href="/tracking" role="button">Budget Tracker</a>
    </div>
  </div>
</div>

</div>
    <nav class="navbar navbar-dark bg-primary force-to-bottom">
    <p class="footer-text justify-content-end">© 2018 InstaBudget, Inc. All rights reserved.</p>
</nav>

 <!-- Set Budget Modal -->
    <div class="modal fade" id="setBudgetModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="POST" action="/set_budget">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Set Budget</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <input placeholder="Budget Name" type="text" class="form-control" name="budgetName" />
                  </div>

                 <div class="form-group">
                    <input placeholder="Budget Amount" type="text" class="form-control" name="budgetAmount" />
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Set" />
                </div>
              </form>
            </div>
        </div>
    </div>


 <!-- Log Expense Modal -->
  <form method="POST" action="/log_expense" >

    <div class="modal fade" id="logExpenseModal" tabindex="-1" role="dialog" aria-labelledby="logExpenseFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="POST" action="/edit">

              <input type="hidden" id="expenseid" name="expenseid" />
                <div class="modal-header">
                    <h5 class="modal-title" id="logExpenseModalLabel">Log Expense</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 <div class="form-group">
                    <input placeholder="Expense" type="text" class="form-control" name="title" id="title"/>
                  </div>
                  <div class="form-group">
                    <input placeholder="Amount Spent" type="text" class="form-control" name="amount" id="amount" />
                
                  </div>
                    <div class="form-group">
            
                   
    <select class="custom-select" id="budgetCategory" name="budgetCategory" >
      <option selected="">Choose budget</option>
       {{#budgetCategories}}
      <option name="{{name}}" value="{{id}}">{{name}}</option>
        {{/budgetCategories}}
    </select>
   
     
  </div>

<div class="modal-body">
<p>
  <a class="btn btn-outline-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add budget
  </a>
</p>
<div class="collapse" id="collapseExample">

<div class="form-group">

    <input placeholder="Budget name..." type="text" class="form-control" name="budgetName"/>
</div>
<div class="form-group">
    <input placeholder="Budget amount..." type="text" class="form-control" name="budgetAmount"/>
</div>
</div>

                </div>

              
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-success" value="Log expense" />
                </div>
              
            </div>
        </div>
    </div>
   </form>
   <!-- End of Log Expense Modal -->









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>


{{! <html>
    <head>
        <title>Login Here</title>
        <link rel="stylesheet" href="">
    </head>
    <body>

    


        <div class="page-header">
            <h5>Budget Tracker</h5>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href=" justify-content-center dashboard">Dashboard</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a </a></li>
                        <li><a </a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container row">
           <h1>Hi, Welcome to your Dashboard</h1>
        </div>
    </body>
</html> }}