<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    

    <title>Quick Expense</title>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">InstaBudget</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
</nav>
<div class="jumbotron">
  <h3 class="header">Welcome to the Quick Expense page</h3>
  <hr class="my-4">

<div class="container">

  <form>
  <div class="form-group">
  <input type="text" class="form-control" placeholder="Expense" id="inputDefault">
  </div>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" placeholder="Amount Spent">
    </div>
    <button type="button" class="btn btn-primary btn-sm">Submit</button>
  </div>
  </form>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Catagory</th>
      <th scope="col">Expense</th>
      <th scope="col">Amount Spent</th>
      
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">6/25/18</th>
      <td>Sample Catagory</td>
      <td>Sample name</td>
      <td>Sample amount</td>
      <td>
       
         <button type="button" class="btn btn-warning" edit-item
                                data-toggle="modal"
                                data-target="#editFormModal"
                                data-id="{{itemid}}"
                                data-name="{{itemName}}"
                                data-qty="{{qty}}"
                        
                        >Log Item</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        </td>
    </tr>
    <tr>
      <th scope="row">6/24/18</th>
      <td>Sample Catagory</td>
      <td>Sample name</td>
      <td>Sample amount</td>
      <td>
           <button type="button" class="btn btn-warning" edit-item
                                data-toggle="modal"
                                data-target="#editFormModal"
                                data-id="{{itemid}}"
                                data-name="{{itemName}}"
                                data-qty="{{qty}}"
                        
                        >Log Item</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        </td>
        
      </td>
  </tbody>
</table> 


<div class="row">
    
  <div class="col-sm justify-content-center dashboard-buttons">
    <a class="btn btn-primary btn-lg" href="#" role="button">Log Expense</a>
  </div>
  <div class="col-sm justify-content-center dashboard-buttons">
    <a class="btn btn-primary btn-lg" href="#" role="button">Budget Tracker</a>
  </div>
</div>
 

  
</div>
    <nav class="navbar navbar-dark bg-primary force-to-bottom">
    <p class="footer-text justify-content-end">© 2018 InstaBudget, Inc. All rights reserved.</p>
</nav>

 <!-- Log Expense Modal -->

    <div class="modal fade" id="editFormModal" tabindex="-1" role="dialog" aria-labelledby="editFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="POST" action="/edit">

              <input type="hidden" id="edit-form-id" name="id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Log Expense</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 <div class="form-group">
                    <input placeholder="Expense" type="text" class="form-control" name="itemName" id="edit-form-itemname"/>
                  </div>
                  <div class="form-group">
                    <input placeholder="Amount Spent" type="text" class="form-control" name="qty" id="edit-form-qty" />
                  </div>
                    <div class="form-group">
    <select class="custom-select">
      <option selected="">Choose Category</option>
      <option value="1">Games</option>
      <option value="2">Coffee</option>
      <option value="3">Tolls</option>
    </select>
  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Add" />
                </div>
              </form>
            </div>
        </div>
    </div>
   










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>