<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
        <!-- added font awsome -->    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <title>Budget Tracking</title>
  </head>
  <body>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">InstaBudget</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
</nav>
    <div class="jumbotron">
    <h3 class="header">Welcome to Budget Tracking page</h3>
    <hr class="my-4">
        <div class="container">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%"   style="height: 125px"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Current Overall Status</div>
            </div>

            <div>
                <button class="catbtn" data-toggle="collapse" data-target="#expenselog">By Catagory</button>

                <div id="expenselog" class="collapse">
                <div class='card-matching'>
                    <div class="card-by-item-header">
                        <div class="card-date"> Date</div>
                        <div class="card-expense"> Expense</div>
                        <div class="card-amount">Amount</div>
                        <div class="card-button">  </div>
                    </div>
                </div>
                <div class="card border-primary mb-3" style="max-width: 90%;">
                    <div class="card-by-item">
                        <div class="card-date"> 6/25/18</div>
                        <div class="card-expense"> Walking Dead season #3</div>
                        <div class="card-amount">$24.95</div>
                        <div class="card-btn"><button class="danger"><i class="fas fa-trash-alt"></i></button></div>
                </div>
                </div>
                <div class="card border-primary mb-3" style="max-width: 90%;">
                    <div class="card-by-item">
                        <div class="card-date"> 6/23/18</div>
                        <div class="card-expense"> Fall Out 76</div>
                        <div class="card-amount">$74.95</div>
                        <div class="card-btn"><button class="danger"><i class="fas fa-trash-alt"></i></button></div>
                </div>
                </div>
                <div class="card border-primary mb-3" style="max-width: 90%;">
                    <div class="card-by-item">
                        <div class="card-date"> 6/22/18</div>
                        <div class="card-expense"> Black OP coins</div>
                        <div class="card-amount">$1.95</div>
                        <div class="card-btn"><button class="danger"><i class="fas fa-trash-alt"></i></button></div>
                </div>
            </div>
        </div>
    </div>
  
<nav class="navbar navbar-dark bg-primary force-to-bottom">
    <p class="footer-text justify-content-end">© 2018 InstaBudget, Inc. All rights reserved.</p>
</nav>












    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>


{{! <html>
    <head>
        <title>Login Here</title>
        <link rel="stylesheet" href="">
    </head>
    <body>

    


        <div class="page-header">
            <h5>Budget Tracker</h5>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href=" justify-content-center dashboard">Dashboard</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a </a></li>
                        <li><a </a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container row">
           <h1>Budget Tracker</h1>
        </div>
    </body>
</html> }}