.footer-text{
    color:white;
    text-align: center;
    align-content: right;
    align-items: right;
    align-self: right;
    
}
.dashboard-buttons{
    margin-bottom:30px;
    text-align: center;
}

body{
    background: #E9EEEF;
}
.header{
    text-align: center;
}
.force-to-bottom {
    position:absolute;
    bottom:0;
    width: 100%;
  }

.progress{
    border-style: groove;
    height: 25px;
    background-color: yellow
}