.footer-text{
    color:white;
    text-align: center;
    align-content: right;
    align-items: right;
    align-self: right;
    
}
.dashboard-buttons{
    margin-bottom:30px;
    text-align: center;
}

body{
    background: #E9EEEF;
}
.header{
    text-align: center;
}
.force-to-bottom {
    position:absolute;
    bottom:0;
    left: 0;
    width: 100%;
  }

.progress{
    border-style: groove;
    height: 25px;
    background-color: yellow
}



.catbtn{
    margin: 25px 0px 25px 25px;
}
.card-header{
    margin-left: 50px;
    padding: 0px 20px 0px 20px;
    max-width: 90%
}

.card{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.card-body{
    color: black;    
}

.card-matching{
    max-width: 100%;

}
.card-by-item-header{
    margin-left: 50px;
    display: grid;
    grid-template-areas: 'date expense expense expense amount space btn';
    grid-gap: 10px;
    padding: 10px;
    width: 90%;
}    

.card-by-item{
    
    display: grid;
    grid-template-areas: 'date expense expense expense amount space btn';
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
}    

.card-text{
    margin: 0px 5px 0px auto;
}

.card-date{
    grid-area: date;
    text-align: center;
}

.card-expense{
    grid-area: expense;
    text-align: left;
}

.card-amount{
    grid-area: amount;
    text-align: right;
}

.card-spacer{
    grid-area: space;
}

.card-btn{
    width: 100%;
    justify-content: end;
    grid-area: btn;
}